In [1]:
print("Hello everyone")

2

In [ ]:
#Basic syntax
1+1

df= 1+1
df

In [ ]:
c=3
a=2
c -= a 

x = 5

In [ ]:
#check objects

print(type(x))

s = 'xyzâ€™'

print(type(s))

type([]) 

type({}) 

type('') 

type(0)

In [5]:
#create data
import pandas as pd
df=pd.DataFrame({'names':['5','8','9','10'],'grades':[76,95,77,78,]})

#Loading data

#check data type
type(df)

pandas.core.frame.DataFrame

In [6]:
import pandas as pd

data=pd.read_csv('iris_data.txt', sep=",", header=None,names=('A', 'B', 'C','D','E'))

In [7]:
#loading data in python (jupyter notebook)

import pandas as pd
df =pd.read_csv('PRAC_DATA.csv')

In [16]:
# excel files using python

import pandas as pd
xl = pd.ExcelFile('PRAC_DATA2.xlsx')
xl.sheet_names

['Sheet1', 'Sheet2', 'Sheet3']

In [17]:
df = xl.parse("Sheet1")
df.head()

     Fname     Lname Gender Grade  Hours of Study
0     Mary  Ettienne      F     B              16
1  Charles    Looner      M     F               8
2    Betty  Franklin      F     A              24
3    Roger   Withers      M     C               5
4     John   Mulgrew      M     A               5

In [ ]:
#Exporting data from python 

#Excel
import pandas as pd
import openpyxl

df = pd.DataFrame([[11, 21, 31], [12, 22, 32], [31, 32, 33]],
                  index=['one', 'two', 'three'], columns=['a', 'b', 'c'])

print(df)

df.to_excel('G:\\Statistics seminars DC\\Python Feb 21\\pandas_to_excel.xlsx', sheet_name='new_sheet_name')

In [ ]:
#write to multiple worksheets
df2 = df[['a', 'c']]

with pd.ExcelWriter('G:\\Statistics seminars DC\\Python Feb 21\\pandas_to_excel.xlsx') as writer:
    df.to_excel(writer, sheet_name='sheet1')
    df2.to_excel(writer, sheet_name='sheet2')

In [ ]:
#write to preexsiting sheet
#Note: Because it is processed using openpyxl, only .xlsx files are included.
path = 'pandas_to_excel.xlsx'

with pd.ExcelWriter(path) as writer:
    writer.book = openpyxl.load_workbook(path)
    df.to_excel(writer, sheet_name='new_sheet1')
    df2.to_excel(writer, sheet_name='new_sheet2')

In [ ]:
#export to csv file
df.to_csv('F:\data.csv' , sep=',')

In [ ]:
#For loops

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

In [ ]:
#Nested for loops

adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

In [ ]:
#list of list
ev_data = [['vehicle', 'range', 'price'],
           ['Tesla Model 3 LR', '310', '49900'],
           ['Hyundai Ioniq EV', '124', '30315'],
           ['Chevy Bolt', '238', '36620']]

for row in ev_data[1:]:         # loop through each row in ev_data starting with row 2 (index 1)
    ev_range = row[1]           # each car's range is found in column 2 (index 1)
    ev_range = int(ev_range)    # convert each range number from a string to an integer
    row[1] = ev_range           # assign range, which is now an integer, back to index 1 in each row

print(ev_data)
print(ev_range)

In [18]:
#for loops using dataframes


df = pd.DataFrame({'c1': [10, 11, 12], 'c2': [100, 110, 120]})
df = df.reset_index()  # make sure indexes pair with number of rows

for index, row in df.iterrows():
    print(row['c1'], row['c2'])

10 100
11 110
12 120

In [19]:
#creating a user define function

def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [21]:
df['c1'].mean()

11.0

In [22]:
df['c1'].median()

11.0

In [23]:
df['c1'].mode()

0    10
1    11
2    12
Name: c1, dtype: int64